<?xml version="1.0"?>               
<robot xmlns:xacro = "http://www.ros.org/wiki/xacro" name = "navis"> 
<!-- The above two lines must be at the top of the XACRO file !--> 
    
    <link name = "base">
        <visual>
            <!-- Shift the box up half its height. !-->
            <origin xyz = "0.0 0.0 0.96" rpy = "0.0 0.0 0.0" />
            <geometry> 
                <box size = "0.45 0.78 1.92" />
            </geometry>
        </visual>
        <collision>
            <!-- Shift the box up half its height. !-->
            <origin xyz = "0.0 0.0 0.96" rpy = "0.0 0.0 0.0" />
            <geometry> 
                <box size = "0.45 0.78 1.92" />
            </geometry>
        </collision>
    </link>

     <!-- Include the XACRO file that defines a Hokuyo LIDAR. -->
    <xacro:include filename = "$(find gazebo_plugins)/test/multi_robot_scenario/xacro/laser/hokuyo.xacro" />
    <xacro:laser name = "laser_vert_bottom" parent = "base" xyz = "0.3157894464801903 -0.002068548615034871 0.5099999434059285" rpy = "3.1354753 -1.3045001 0.0024658"
        meshes = "package://gazebo_plugins/test/multi_robot_scenario/meshes/laser" />

    <!-- XACRO Macro definition block to add around the laser_vert_top !-->
    <xacro:macro name = "laser_vert_top" params = "side reflect" > 
        <xacro:include filename = "$(find gazebo_plugins)/test/multi_robot_scenario/xacro/laser/hokuyo.xacro" />
        <xacro:laser name = "laser_vert_top_${side}" parent = "base" 
        xyz = "0.2978 ${reflect *0.1450} 1.8451" 
        rpy = "${reflect *1.1760} 0.6313 ${reflect *1.9377}"
        meshes = "package://gazebo_plugins/test/multi_robot_scenario/meshes/laser" />
    </xacro:macro >
    <!-- Call the XACRO Macro. !-->
    <xacro:laser_vert_top side = "left" reflect = "1" />
    <xacro:laser_vert_top side = "right" reflect = "-1" />

    <!-- Include the XACRO file that defines a Hokuyo LIDAR. -->
    <xacro:include filename = "$(find velodyne_description)/urdf/VLP-16.urdf.xacro" />
    <!-- Invoke the macro to define the Hokuyo LIDAR. -->
    <xacro:VLP-16 parent = "base" name = "laser_horiz" topic = "laser_horiz/packets" hz = "10"
        samples = "440" gpu = "false" >
    <origin xyz = "0.2325416305773505 -0.0001380069427607134 1.920122926231907"
        rpy = "-0.0012068 0.114646 -0.0015308" />
    </xacro:VLP-16 >


    <link name = "wheel_center">
        <visual>
            <origin xyz = "0.0 0.0 0.0" rpy = "${-1*pi/2} 0.0 0.0" />
            <geometry> 
                <cylinder radius="0.15" length="0.05" />
            </geometry>
        </visual>
        <collision>
            <origin xyz = "0.0 0.0 0.0" rpy = "${-1*pi/2} 0.0 0.0" />
            <geometry> 
                <cylinder radius="0.15" length="0.05" />
            </geometry>
        </collision>
    </link>

    <!-- XACRO Macro definition block to add around the wheel link and joint !-->
    <xacro:macro name = "wheels" params = "side reflect" > 
        <link name = "wheel_${side}">
            <visual>
                <origin xyz = "0 0 0.0" rpy = "${-1*pi/2} 0.0 0.0" />
                <geometry> 
                    <cylinder radius="0.2" length="0.05" />
                </geometry>
            </visual>
            <collision>
                <origin xyz = "0 0 0.0" rpy = "${-1*pi/2} 0.0 0.0" />
                <geometry> 
                    <cylinder radius="0.2" length="0.05" />
                </geometry>
            </collision>
        </link>

        <joint name = "base_wheel_${side}_joint" type = "continuous" >
            <parent link = "base" />
            <child link = "wheel_${side}" />
            <origin xyz = "-0.10 ${reflect * 0.4} 0" />
            <axis xyz = " 0.0 1.0 0.0" />
        </joint >
    </xacro:macro >
    <!-- Call the XACRO Macro. !-->
    <xacro:wheels side = "left" reflect = "1" />
    <xacro:wheels side = "right" reflect = "-1" />

    <joint name = "base_wheel_center_joint" type = "continuous" >
        <parent link = "base" />
        <child link = "wheel_center" />
        <origin xyz = "0.225 0 -0.05" rpy = "0 0 0" />
        <axis xyz = " 0.0 1.0 0.0" />
    </joint >

</robot>